*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(images\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
#one {
    justify-content: center;
    border-style:inset;
    border-width: 5px;
    border-color: rgb(146, 146, 153);
    width: 30%;
    height: 25%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    margin-top: 13%;
    margin-bottom: 13%;
    margin-left: 40%;
    padding-bottom: 1%;
    place-items: center;
}
.box {
    border-style: inset;
    border-width: 3px;
    width: 70%;
    background-color: rgb(215, 215, 213);
    margin-left: 15% ;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 19px;
    background-image: url(download\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 900;
}
h1 {
    color: black;
    font-style: italic;
    font-family: fantasy;
    font-weight: 400;
    text-decoration:rgb(161, 161, 223) underline ;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 35px;
}
#box1 {
    margin-bottom: 1%;
    color: rgb(133, 17, 17);
    font-weight: 600;

}
hr {
   background-color: ;
   border-style: dashed;
   border-width: 3px;
   border-color: grey;
   margin-top: 10px;
   margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: blue;
}
button{
    width: 50%;
    height: 30%;
    background-color: rgb(108, 104, 98);
    opacity: 0.6;
    border-color: antiquewhite;
    font-weight: 900;
    color: rgb(149, 255, 0);
}
button:hover {
    background-color:rgb(24, 10, 231);
    cursor: pointer;
}
.field input{
    justify-content: center;
    height: 10%;
    width: 60%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    margin-bottom: 5%;
    font-size: 15px;
}
.field input:focus{
    border-bottom-width:3px;
    border-bottom-color: blue;
}

.link {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5%;
}