*{
    padding: 0;
    margin: 0;
}
html, body{
   height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-image:url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-image: url(download\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border:3px inset grey;
    border-radius: 10px;
    text-align: center;
    padding: 1%;
    margin: auto auto;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
}
form {
    display:flex ;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    border-radius: 10%;
    width: 60%;
}
label {
    margin-bottom: 1%;
    color: bisque;
}
input{
    padding: 1%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    margin-bottom: 1%;
}
button{
    width: 45%;
    margin: auto;
    margin-top: 1%;
}
button:hover{
    cursor: pointer;
    background-color: blue;
    opacity: 0.5;
    color: beige;
    font-weight: 700;
}
#box1 {
    color: bisque;
    margin-top: 1%;
    width: 70%;
    margin: auto;
    margin-top: 1%;
}
a {
    color: rgb(106, 106, 250);
    font-weight: 600;
    text-decoration: none;
}
h1{
    font-family: fantasy;
    font-weight: 500;
    text-decoration: grey underline;
    margin-bottom: 1%;
}
h2 {
    margin-bottom: 1%;
    color: rgb(248, 249, 245);
    font-weight: 600;
}
hr {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 1px;
    background-color: grey;
}
#image1 {
    width: 25%;
}
#image2 {
    width: 25%;
}
.link {
    color: black;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:auto;
}
@media (max-width:800px) {
    #image1 {
        width: 30%;
    }
    #image2 {
        width: 30%;
    }
}